.background-image {
    /*   positioning */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1366&q=80");
    
  /*   sizes */
    width: 100vw;
    height: 90vh;
    background-color: #66fcf1;
  }
  
  .wrapper-div {
  /*   behavior */
  display: flex;
  justify-content: space-evenly;
    box-sizing: content-box;
    border-radius: 4px;
    color:white;
    font-size: 7rem;
    text-align: left;
    

  /*   positioning */
    
  /*   dimension */
    height:60vh;
    width: 80vw;
    margin-left: 1rem;
    
  /*   colors */
  background: #1f2833;
  }